################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/__pycache__
/build
/data
/dist
/reviewed
*.pdf
*.xlsx
main.exe
main.spec
data.db